<!DOCTYPE html>
<html>
 <head>

	<meta charset="utf-8">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='uploads/uploadStyle.css') }}">

   <title>Subir Imagen</title>
 </head>
 <body>

   {% if msg %}
   <h1 class="mensaje">{{ msg }}</h1>
   {% endif %}

   <div class="uploadimg">

   <h1>Sube una imagen</h1>

   <form method=post enctype=multipart/form-data class="imgsrc">
     <p><input type=file name=file>
        <input type=submit value=Subir>
   </form>
 </div>
<div class="resultado">
   <h1>Resultados:</h1>
   {% if img_src %}
     <img src="{{ img_src }}" width="600" height="400" style="margin-left: 30px;">
   {% endif %}

   {% if extracted_text %}
     <p> El texto que la librería logró reconocer: <b style="white-space: pre"> {{ extracted_text }} </b></p>
     <p> La cantidad de lineas que la libreria reconoció: <b style="white-space: pre"> {{ enumerate_text }} </b></p>
     <p> Las 7 palabras más utilizadas en el texto: <b style="white-space: pre"> {{ sevenwords_text }} </b></p>
     <p> Frecuencia de palabras: <b style="white-space: pre"> {{ frequent_words }} </b></p>

   {% else %}
     Tu texto aparecerá aquí
   {% endif %}
   </div>
 </body>
</html>